
/* this is to define the space taken up by the logo to keep the navbar at a fixed height */
#logo {
    margin: 4px 2px;
}

.lg-form {
    max-width: 500px;
}

/* this is the main body container's styling */
.bodyFormat {
    background-color: white;
    border-color: ghostwhite;
    border-radius: 10px;
}

/* Controls the background colour of the navigation bar */
.bg-colour {
    background-color: rgb(58, 2, 58);
}

/* creates an invisible pill around the navigation bar buttons */
.pill {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

/* changes the colour around the invisible pill on hover to highlight button */
.pill:hover {
    background-color: rgb(6, 1, 47);
}

/* used to define the sizes of the images on the landing page's img gallery */
.scaled-img {
    border-radius: 3%;
    height: 500px; 
    object-fit: cover;
}


body {
    background-color: aliceblue;
}

form{
    width: fit-content;
    margin: auto;
    padding-top: 15%;
}


/* create Request styling */

#tagList {
    list-style-type: none;
}

h1{
    text-align: center;
}
.upload-img .container {
    position: relative;
    width: 100%;
  }
  
 .upload-img .container img {
    width: 100%;
    height: auto;
    padding:4px;
  }
  
 .upload-img .container .btn-close {
    position: absolute;
    top: 5px;
    right: 30px;
    
  }

/* feed css */
.feed_images {
    object-fit: cover;
    /*width: 530px;*/
    height: 530px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
  }


/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.rating-box {
  position: relative;
  background: #fff;
  padding: 25px 50px 35px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.rating-box header {
  font-size: 22px;
  color: #dadada;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 55px;
}
.rating-stars {
  cursor: pointer;
}

.star {
  color: #0d0404;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}


.star.active {
  color: red;
}